option_settings:
  aws:elasticbeanstalk:application:environment:
    "DJANGO_SECRET_KEY": ""
    "DATABASE_NAME": "test"
    "DATABASE_USER": "nsy"
    "DATABASE_PASSWORD": ""
    "AWS_ACCESS_KEY_ID": ""
    "AWS_SECRET_ACCESS_KEY": ""
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/wsgi.py

container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
