option_settings:
  aws:elasticbeanstalk:application:environment:
    "DJANGO_SECRET_KEY": "z4$@5&p6r-38q3--2c(#i93^i*p-o1f8s#*n!1g6^-^^o)i5(v"
    "DATABASE_NAME": "test"
    "DATABASE_USER": "nsy"
    "DATABASE_PASSWORD": "bestkki0515"
    "AWS_ACCESS_KEY_ID": "AKIATZKXHS6WIYIOMURA"
    "AWS_SECRET_ACCESS_KEY": "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"
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/wsgi.py

container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"